.tool-type-selectors-container{
  display: flex;
  justify-content: center;
  .tool-type-selector {
    @apply text-sm md:text-base;
    padding: 20px;
    color: white;
    align-content: center;
    font-weight: 400;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    text-align: center;
    .tool-type-icon{
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      margin: 10px auto;
      border: 2px solid var(--theme-grey-border);
      border-radius: 10px;
      background: var(--theme-box-bg-grey);
    }
    &.active{
      .tool-type-icon{
        border-color: var(--theme-border-hover);
        background: var(--theme-box-bg);
        .lucide{
          color: var(--theme-color-hover);
        }
      }
    }
  }
}
