.chords-selector {
  .chords-selector-item {
    padding: 15px;
    background: black;
    height: 100%;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    background: var(--theme-box-bg-grey);
    border: 2px solid var(--theme-grey-border);
    color: var(--theme-grey);
    align-content: center;
    font-weight: 400;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);

    &>div{
      display: flex;
      align-items: center;
      justify-content: center;
      .lucide{
        margin-right: 10px;
      }
    }
    @apply text-sm md:text-base;

    &:hover {
      border-color: var(--theme-border-hover);
      color: var(--theme-color-hover);
      background: var(--theme-box-bg-hover);
    }

    &.selected, &.selected-correct, &.selected-wrong {

    }

    &.selected {
      border-color: var(--theme-border);
      color: var(--theme-text-highlight);
      background: var(--theme-box-bg);
      box-shadow: var(--theme-box-shadow) 0px 10px 15px -3px, var(--theme-box-shadow) 0px 4px 6px -4px;
    }

    &.selected-correct {
      border-color: var(--theme-green-border);
      color: var(--theme-green-hover);
      background: var(--theme-box-bg-green);
      font-weight: bold;
    }

    &.selected-wrong {
      border-color: var(--theme-red-border);
      color: var(--theme-red-hover);
      background: var(--theme-box-bg-red);
      font-weight: bold;
    }
  }
}
