.intervals-selector{
  .intervals-selector-item{
    padding: 15px;
    background: black;
    height: 100%;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    border: 2px solid #8c8c8c;
    color: #8c8c8c;
    &:hover{
      border-color: rgba(#8c8c8c,0.8);
    }
    &.selected, &.selected-correct, &.selected-wrong{
      border-color: #76ec18;
      color: #76ec18;
      font-weight: bold;
      box-shadow: 0 0 10px #76ec18;
    }
   &.selected-wrong{
        border-color: #e70f29;
        color: #e70f29;
        box-shadow: 0 0 10px #e70f29;
      }
  }
}
